.hero {
    background-color: #e5e5ec;
    /* opacity: 0.3; */
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5ec 31px), repeating-linear-gradient(#ffffff55, #ffffff);
}

.polka {
    background-color: #ffffff;
    opacity: 0.3;
    background-image: radial-gradient(#e8e8e8 0.45px, transparent 0.45px), radial-gradient(#e8e8e8 0.45px, #ffffff 0.45px);
    background-size: 18px 18px;
    background-position: 0 0, 9px 9px;
}