@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 16px;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 16px 10rem 16px 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        padding: 16px 24rem 16px 24rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}